@import "compass/typography";
@import "outernet/mixins/fonts";
@import "sprites";

.introduction {
  background-image: image-url('web_misc/intro_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  padding: 50px 20px;
  position: relative;

  .inner {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;

    @include phone-portrait-wide {
      width: 100%;
    }
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $sky6;
    }

    &:visited {
      color: $sky25;
    }
  }

  .label-intro {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    padding: 0 20px;
    background: $universe;
    color: $white;
  }

  .left-sat {
    @include web-icon(intro_sat_left, yes);
    position: absolute;
    left: 0;
    top: 10%;
  }
  .right-sat {
    @include web-icon(intro_sat_right, yes);
    position: absolute;
    right: 0;
    top: 30%;
  }

  @include phone-portrait-wide {
    padding: 20px;
    .left-sat, .right-sat {
      display: none;
    }
  }

  .note {
    padding: 0.5em 1em;
    @include border-radius(8px);
    color: $base;
    background: $white;
    margin: 2.5em auto 0;
    max-width: 400px;
  }

  .slider-container {
    @include phone-portrait-wide {
      display: none;
    }

    .buttons {
      .icon {
        margin: 0 20px;
        opacity: 0.5;
        @include transition(opacity 0.5s);
        cursor: pointer;
        &.active, &:hover {
          opacity: 1;
        }
        &[data-slide-name="freeinformation"] {
          @include web-icon(freeinformation, yes);
        }
        &[data-slide-name="courseware"] {
          @include web-icon(courseware, yes);
        }
        &[data-slide-name="entertainment"] {
          @include web-icon(entertainment, yes);
        }
        &[data-slide-name="apps"] {
          @include web-icon(apps, yes);
        }
        &[data-slide-name="emergencies"] {
          @include web-icon(emergencies, yes);
        }
        &[data-slide-name="usercontent"] {
          @include web-icon(usercontent, yes);
        }
      }
    }
    .slide {
      @include transition(opacity 1s);
      opacity: 0;
      height: 0;
      overflow: hidden;
      @include bold;
      .message {
        margin: 1em 0 2em 0;
      }
    }
    .slide.visible {
      opacity: 1;
      height: auto;
    }
  }
}
